*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0f172a;
font-family:Arial,sans-serif;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
position:sticky;
top:0;
}

.logo{
font-size:24px;
font-weight:bold;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
padding:80px 20px;
text-align:center;
}

.hero h1{
font-size:50px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
color:#cbd5e1;
line-height:1.8;
}

.buttons{
margin-top:35px;
}

button{
padding:15px 30px;
margin:10px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition:.3s;
}

.primary{
background:#0ea5e9;
color:white;
}

.secondary{
background:transparent;
border:2px solid #0ea5e9;
color:#0ea5e9;
}

button:hover{
transform:scale(1.05);
}

.features{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

padding:40px;

}

.card{

background:#1e293b;

width:300px;

padding:30px;

border-radius:12px;

text-align:center;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h2{

color:#38bdf8;

margin-bottom:15px;

}

.dashboard{

padding:60px 8%;

}

.dashboard h2{

text-align:center;

margin-bottom:30px;

}

.stats{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.stat{

background:#1e293b;

width:200px;

padding:25px;

border-radius:10px;

text-align:center;

}

.stat h3{

font-size:40px;

color:#38bdf8;

}

.preview{

padding:50px 8%;

}

.preview h2{

text-align:center;

margin-bottom:20px;

}

#output{

background:#1e293b;

padding:25px;

border-radius:10px;

overflow:auto;

min-height:120px;

}